
nav {
	height: 24px;
	display: block;
	position: fixed;
/**	width: 100%;
	z-index: 100; **/
}

aside {
	margin-top:50px;
	display: block;
	width: 210px;
	float:right;
	margin-left:auto;
}


right_aside {
	display: block;
	width: 210px;
	float:right;
	margin-left:auto;
}


section {
	margin-top:50px;
	display: block;
	padding-bottom: 350px;
	float:left;
	margin-left:auto;
	margin-bottom: 50px;
}

#container {
	margin:auto;
	width:1240px;
	margin-bottom:50px!important;
}

.article {
	margin:auto!important;
}
